[defaults]
forks = 100
inventory = inventory
roles_path = roles
timeout = 45

#gathering = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# 8 hours timeout
fact_caching_timeout = 28800

host_key_checking = False
callback_whitelist = profile_tasks
stdout_callback = debug

[ssh_connection]
ssh_args = -o ForwardAgent=yes
pipelining=true
retries=2
